params {
  split = 10000000
  frac = 0.01
  highcov = 150
  div = 10
}
profiles {
  local {
    process.execute = 'local'
    process.errorStrategy { task.exitStatus in [134, 137, 139, 140, 143] ? 'retry' : 'finish'}
    process.maxRetries 3
  }

  mfn {
    includeConfig 'config/mfn.config'
    process.errorStrategy { task.exitStatus in [134, 137, 139, 140, 143] ? 'retry' : 'finish'}
    process.maxRetries 3
  }

  curta {
    includeConfig 'config/curta.config'
    process.errorStrategy { task.exitStatus in [134, 137, 139, 140, 143] ? 'retry' : 'finish'}
    process.maxRetries 3
  }
}
