process {
  config_profile_name = 'Curta cluster profile'
  config_profile_description = 'Profile for the FU Curta cluster.'
  queue = 'begendiv,main'
  clusterOptions = '--qos=standard'
  cpus = 1
  memory = { 5.GB * task.attempt }
  time = '12.h'

  errorStrategy = { task.exitStatus in [104, 134, 137, 139, 140, 143, 247] ? 'retry' : 'ignore' }
  maxRetries = 10
  maxErrors = '-1'

  withLabel: 'RAM_high' {
    cpus = 1
    memory = { 2.GB * task.attempt * task.attempt }
    time = '120.h'
  }
}


executor {
    name = 'slurm'
    submitRateLimit = '1/1sec'
    queueSize = 100
}
