process {
  config_profile_name = 'MfN cluster profile'
  config_profile_description = 'Profile that works well with the Museum für Naturkunde cluster'
  queue = 'Temp_short'
  cpus = 1
  memory = '8 GB'
  time = '120h'
  
  withLabel: 'RAM_high' {
    cpus = 1
    memory = '100 GB'
    time = '120h'
  }
}

executor {
    name = 'slurm'
    queueSize = 5
}
