process {
  config_profile_name = 'MfN cluster profile'
  config_profile_description = 'Profile that works well with the Museum für Naturkunde cluster'

  queue = 'Temp_short'
  cpus = 1
  memory = { 10GB * task.attempt }
  time = '120h'

  withLabel: 'RAM_high' {
    cpus = 1
    memory = { 20GB * task.attempt }
    time = '120h'
  }
}

process.errorStrategy { task.exitStatus in [134, 137, 139, 140, 143] ? 'retry' : 'finish'}
process.maxRetries 3

executor {
    name = 'slurm'
    queueSize = 10
}
