process {
  config_profile_name = 'MfN cluster profile'
  config_profile_description = 'Profile that works well with the Museum für Naturkunde cluster'
  queue = 'Temp_short'
  cpus = 1
  memory = { 10.GB * task.attempt }
  time = '120.h'

  withLabel: 'RAM_high' {
    cpus = 1
    memory = { 20.GB * task.attempt }
    time = '120.h'
  }
}


executor {
    name = 'slurm'
    queueSize = 10
}
