params {
  //Filter parameters
  min_qual = 10
  min_depth = 3
  max_depth = 100
  missingness = 0.75
  min_maf = 0
  //Fraction of SNPs subsampled for the stats file
  frac = 0.01
}

process {
  config_profile_name = 'MfN cluster profile'
  config_profile_description = 'Profile that works well with the Museum für Naturkunde cluster'
  queue = 'TestAndBuild'
  cpus = 1
  memory = '64 GB'
  time = '11h'

  withLabel: 'RAM_high' {
    cpus = 1
    memory = '32 GB'
    time = '120h'
  }
}

executor {
    name = 'slurm'
    queueSize = 20
}
